.main-container {
  padding: 1.5rem 0.5rem;

  .float-right-bottom {
    position: absolute;
    bottom: 2.5em;
    right: 2.5em;
  }
}

@media (min-width: 720px) {
  mat-toolbar {
    padding: 1.5rem 3rem;
  }
}