<app-base-dialog>
  <div content>
    <h3>Usuario no existe</h3>
    <p>El correo electrónico que proporcionó no se encuentra registrado en Atom TaskSys</p>
    <p>Pero no hay problema con eso, pudiera crearse un usuario con el mismo correo electrónico.
      ¿Está de acuerd?; de ser correcto presione el botón <strong>Crear usuario</strong>, caso contrario cancele la operación presionando
    el botón <strong>Cancelar</strong></p>
  </div>
  <div actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial color="primary">Aceptar</button>
  </div>
</app-base-dialog>
