// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$orange-atom-palette: (
  50: #fff7e0,
  100: #ffeab1,
  200: #ffdc7e,
  300: #ffd04a,
  400: #ffc41f,
  500: #ffba00,
  600: #ffac00,
  700: #ff9900,
  800: #ff8700,
  900: #ff6600,
  A100: #ffd180,
  A200: #ffab40,
  A400: #ff9100,
  A700: #ff6d00,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: black,
  )
);

$blue-accent-palette: (
  50: #e3f3fe,
  100: #bbdfff,
  200: #8eccff,
  300: #5fb8ff,
  400: #38a8ff,
  500: #0099ff,
  600: #048bf1,
  700: #0478dd,
  800: #0467cb,
  900: #0248ac,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$atom-challenge-fe-template-primary: mat.define-palette($orange-atom-palette, 900);
$atom-challenge-fe-template-accent: mat.define-palette($blue-accent-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$atom-typography: mat.define-typography-config(
  $font-family: Poppins,
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$atom-challenge-fe-template-theme: mat.define-light-theme((
  color: (
    primary: $atom-challenge-fe-template-primary,
    accent: $atom-challenge-fe-template-accent,
    warn: $my-warn,
  ),
  typography: $atom-typography,
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($atom-challenge-fe-template-theme);


/* You can add global styles to this file, and also import other style files */
:root{
  --atom-global-color-primary: #FF6600;
  --atom-global-color-secondary: #FF8E43;
  --atom-global-color-text: #000000;
  --atom-global-color-accent: #FF6600;
  --atom-global-color-d24cb22: #FFFFFF;
  --atom-global-color-f1ede97: #F9F9F9;
  --atom-global-color-4d544dc: #25D366;
  --atom-global-color-30b110d: #EDF5FF;
  --atom-global-color-6c24e56: #F2F8FC;
  --atom-global-color-6d08844: #F6FFF9;
  --atom-global-color-fe428f6: #FFB788;
  --atom-global-color-fcc20da: #FFE7D8;
  --atom-global-color-adbc35e: #D5D5D5;
  --atom-global-color-4db674c: #F35C5C;
  --atom--preset--font-size--small: 13px;
  --atom--preset--font-size--medium: 20px;
  --atom--preset--font-size--large: 36px;
  --atom--preset--font-size--x-large: 42px;
  --atom--preset--spacing--20: 0.44rem;
  --atom--preset--spacing--30: 0.67rem;
  --atom--preset--spacing--40: 1rem;
  --atom--preset--spacing--50: 1.5rem;
  --atom--preset--spacing--60: 2.25rem;
  --atom--preset--spacing--70: 3.38rem;
  --atom--preset--spacing--80: 5.06rem;
  --atom-global-typography-text-font-weight: 400;
  --atom-global-typography-accent-font-weight: 500;
  --atom-global-line-height: 1.7em;
}

/*#region Common Card Styles*/
// mobile styles
.card-wrapper {
  &.login {
    min-block-size: calc(var(--vh, 1vh)* 80);
  }

  .atom-card {
    overflow: hidden;
    overflow-wrap: break-word;
    padding: 0;
    text-decoration: none;
    transition-duration: .28s;
    transition-property: box-shadow, opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    box-shadow: none;
  
    .atom-card-header {
      flex: 1 1 auto;
      letter-spacing: normal;
      opacity: var(--v-card-text-opacity, 1);
      padding: 1.25rem;
      text-transform: none;
      margin-bottom: 4px;
      display: block;
      
      h4 {
        font-size: var(--atom--preset--font-size--medium);
        font-weight: var(--atom-global-typography-text-font-weight);
        font-weight: var(--atom-global-typography-accent-font-weight);
        color: var(--atom-global-color-primary);
        margin: 0.5em 0;
      }
  
      p {
        color: var(--atom-global-color-text);
        font-weight: var(--atom-global-typography-text-font-weight);
        line-height: var(--atom-global-line-height);
      }
    }
  }

}

// tabletport styles
@media (min-width: 720px) {
  .card-wrapper {
    .atom-card {  
      box-shadow: var(--mdc-elevated-card-container-elevation);

      .atom-card-header {
        h4 {
          font-size: var(--atom--preset--font-size--large);
        }
      }
    }
  }
}

// tabletland styles
@media (min-width: 1024px) {
}

// desktop styles
@media (min-width: 1200px) {
}
/*#endregion Common Card Styles*/

/*#region Common Form Styles*/
// mobile styles
.atom-form-wrapper {
  .atom-form {
    margin: 0;
    padding: 0;

    .form-field-full-width {
      width: 100%;
    }
  }
}

// tabletport styles
@media (min-width: 720px) {
}

// tabletland styles
@media (min-width: 1024px) {
}

// desktop styles
@media (min-width: 1200px) {
}
/*#endregion Common Form Styless*/

/*#region Common Rounded Custom Button Styles*/
// mobile styles
.atom-rounded-custom-button {
  border-radius: 47px 47px 47px 47px !important;
}
/*#endregion Common Rounded Custom Button*/

/*#region Common Styles*/
// mobile styles
.full-width {
  width: 100%;
}
/*#endregion Common Styles*/